<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <% if (locals.id) { %>
     <h2>Short Id Generated: http://localhost:4999/<%= id %> </h2>
    <% } %>
    <form method="POST" action="/url">
        <input type="text" name="url" placeholder="https://example.com">
        <button>Generate</button>
    </form>

    <% if (locals.allUrl) { %>
        <table>
           <thead>
                   <th>S.no</th>
                   <th>Original site</th>
                   <th>Redirected url</th>
                   <th>Clicks</th>
           </thead>
           <tbody>
                <% allUrl.forEach((url,index) => { %>
                    <tr>
                        <td><%= index+1 %></td>
                        <td><%= url.reDirectUrl %></td>
                        <td><%= url.shortId %></td>
                        <td><%= url.visitHistory.length %></td>
                    </tr>
                <% }) %>            
           </tbody>
        </table>
   <% } %>
</body>
</html>